<%# RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Ho Minh Duc, Nguyen Bao Hoang, Muhammad Zainulabideen Noaman, Pham Tuan Vy 
ID: s3994277, s3978685, s4021266, s3989482
Acknowledgement: chatGPT %>
<title>Add to Cart</title>
<link rel="stylesheet" type="text/css" href="/css/customerpage.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<%- include ('partials/header') %>
<script src="/js/customer_function.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<%- include ('partials/header2') %>