<%# RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Ho Minh Duc, Nguyen Bao Hoang, Muhammad Zainulabideen Noaman, Pham Tuan Vy 
ID: s3994277, s3978685, s4021266, s3989482
Acknowledgement: chatGPT %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>
<footer class="py-5 text-bg-primary">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <!-- <h5>Section</h5> -->
            <ul class="nav flex-column col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">Product Policy</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">Help Center</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">Shipping & Delivery</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">How To Return</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <ul class="nav flex-column col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">About Lazada</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">Terms & Conditions</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">Privacy Policy</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">Contact Us</a></li>
            </ul>
        </div>



    </div>

    <div class="icon_section">
        <a class="footer_mid_icons text-light " href=""><i class="fab fa-twitter footer_mid_icons_inner"></i></a>
        <a class="footer_mid_icons text-light" href=""><i class="fab fa-instagram footer_mid_icons_inner"></i></a>
        <a class="footer_mid_icons text-light" href=""><i class="fab fa-youtube footer_mid_icons_inner"></i></a>
    </div>
</footer>
</html>