/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Ho Minh Duc, Nguyen Bao Hoang, Muhammad Zainulabideen Noaman, Pham Tuan Vy 
ID: s3994277, s3978685, s4021266, s3989482
Acknowledgement: chatGPT*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 20px;
}
form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    justify-content: space-between;
}
.left-side, .right-side {
    display: block;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.left-side {
    width: 44%;
}
.right-side {
    width: 100%; 
}
input {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}
.image-box {
    width: 200px;
    height: 200px;
    background: gainsboro;
    border: 0.25px solid;
}
.last-two div {
    height: calc(100px - 3px);
    margin-top: 6px;
}
.last-two div:last-child {
    margin-top: 6px;
}
.image-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#description {
    height: 180px;
}
.small-text {
    font-size: 14px;
    color: grey
}
h4 {
    margin-bottom: 12px;
}
button {
    display: block;
    text-align: right;
    padding: 12px;
    width: 200px;
    border-radius: 10px;
    border: none;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
#submit-btn {
    background: #1D70FF; /*lazada color*/
    color: white;
}

@media screen and (min-width: 768px) {
    body {
        margin: 30px; 
    }

    form {
        margin-top: 80px; 
    }

    .left-side, .right-side {
        display: flex; 
        margin-bottom: 0; 
    }

    .left-side {
        width: 44%; 
    }

    .right-side {
        width: 612px;
    }
} 