/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Ho Minh Duc, Nguyen Bao Hoang, Muhammad Zainulabideen Noaman, Pham Tuan Vy 
ID: s3994277, s3978685, s4021266, s3989482
Acknowledgement: chatGPT*/
.banner-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner-container img {
    width: 100%;
    margin-bottom: 50px;
}

.products {
    width: 100%;
    margin-top: 50px;
}

.product {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
    background: #2a242d0b;
    padding: 20px;
    border-radius: 20px;
}

.product-container {
    width: calc(100%/3);
    background: #ffffff;
}

.product-container img {
    width: 100%;
    border-bottom: 1px solid rgb(186, 183, 183);
    border-right: none;
}

.product-info {
    padding: 10px;
    /* width: 70%; */
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #FF722B;
    letter-spacing: 0.5px;
}

.products h1 {
    font-size: 28px;
}

.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-info img {
    height: 50px;
    width: 50px;
    margin-right: 16px;
    border: solid 0.25px;
    border-radius: 50px;
    cursor: pointer;
    background: #ff955f;
}

.bottom-info img:hover {
    background: #f9bb40;
}

@media screen and (max-width: 1024px) {
    .product-container {
        width: calc(100%/2 - 12px);
    }

    .product {
        flex-wrap: wrap;
    }

    main {
        margin: 0;
    }

    .products {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .product-container {
        width: calc(100%);
    }
}

.shopping-cart img {
    display: block;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    margin-bottom: 5%;
}